# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
# El archivo de tipos de Next se genera automáticamente, 
# pero a veces es útil mantenerlo. Si prefieres un repo limpio, déjalo aquí:
# next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
*.sqlite
# Logs de n8n o procesos si usas localmente
*.log
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
# Bloqueamos TODO lo que empiece por .env para evitar accidentes
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# ide
.vscode/
.idea/
*.swp
*.swo

# OS metadata
Thumbs.db